###################################################################
#  User-defined waveform record                                   #
###################################################################
record(waveform, "$(P)WaveDigVoltWF$(N)")
{
    field(FTVL, "DOUBLE")
    field(DTYP, "asynFloat64ArrayIn")
    field(INP,  "@asyn($(PORT),$(N))WAVEDIG_VOLT_WF")
    field(NELM, "$(WDIG_POINTS)")
    field(SCAN, "I/O Intr")
}

