# bo record template for register outputs
record(bi,"$(P)$(R)") {
     field(DESC, "$(DESC)")
     field(DTYP, "asynUInt32Digital")
     field(INP,  "@asynMask($(PORT) $(OFFSET) $(MASK))")
     field(ZNAM, "$(ZNAM)")
     field(ONAM, "$(ONAM)")
     field(SCAN, "I/O Intr")
}
